WsRecharge/Connected Services/SRService/SRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.inoutrecharge.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.inoutrecharge.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.inoutrecharge.com/">
      <s:element name="DoRecharge">
        <s:complexType />
      </s:element>
      <s:element name="DoRechargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoRechargeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Information" type="tns:Information" />
      <s:complexType name="Information">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApiCredentials" type="tns:Credentials" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileToRecharge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillerAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIAccountRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RechargeVia" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeOfRecharge" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatorCode" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatingSystem" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckStatus">
        <s:complexType />
      </s:element>
      <s:element name="CheckStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MyBalance">
        <s:complexType />
      </s:element>
      <s:element name="MyBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MyBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoRechargeSoapIn">
    <wsdl:part name="parameters" element="tns:DoRecharge" />
  </wsdl:message>
  <wsdl:message name="DoRechargeSoapOut">
    <wsdl:part name="parameters" element="tns:DoRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="DoRechargeInformation">
    <wsdl:part name="Information" element="tns:Information" />
  </wsdl:message>
  <wsdl:message name="CheckStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckStatus" />
  </wsdl:message>
  <wsdl:message name="CheckStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CheckStatusInformation">
    <wsdl:part name="Information" element="tns:Information" />
  </wsdl:message>
  <wsdl:message name="MyBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:MyBalance" />
  </wsdl:message>
  <wsdl:message name="MyBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:MyBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="MyBalanceInformation">
    <wsdl:part name="Information" element="tns:Information" />
  </wsdl:message>
  <wsdl:portType name="SRServiceSoap">
    <wsdl:operation name="DoRecharge">
      <wsdl:input message="tns:DoRechargeSoapIn" />
      <wsdl:output message="tns:DoRechargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <wsdl:input message="tns:CheckStatusSoapIn" />
      <wsdl:output message="tns:CheckStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MyBalance">
      <wsdl:input message="tns:MyBalanceSoapIn" />
      <wsdl:output message="tns:MyBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SRServiceSoap" type="tns:SRServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoRecharge">
      <soap:operation soapAction="http://www.inoutrecharge.com/DoRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DoRechargeInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <soap:operation soapAction="http://www.inoutrecharge.com/CheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckStatusInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyBalance">
      <soap:operation soapAction="http://www.inoutrecharge.com/MyBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MyBalanceInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SRServiceSoap12" type="tns:SRServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoRecharge">
      <soap12:operation soapAction="http://www.inoutrecharge.com/DoRecharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DoRechargeInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <soap12:operation soapAction="http://www.inoutrecharge.com/CheckStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckStatusInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyBalance">
      <soap12:operation soapAction="http://www.inoutrecharge.com/MyBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MyBalanceInformation" part="Information" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SRService">
    <wsdl:port name="SRServiceSoap" binding="tns:SRServiceSoap">
      <soap:address location="http://www.inoutrecharge.com/WebService/SRService.asmx" />
    </wsdl:port>
    <wsdl:port name="SRServiceSoap12" binding="tns:SRServiceSoap12">
      <soap12:address location="http://www.inoutrecharge.com/WebService/SRService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>